[Unit]
Description=Base (OP-NODE)
Documentation=https://docs.optimism.io/operators/node-operators/tutorials/run-node-from-source
After=network-online.target

[Service]
User=base
Group=base
Environment=HOME=/data/base/op-node
EnvironmentFile=/data/base/.env.mainnet
Type=simple
ExecStart=/usr/local/bin/op-node
LimitNOFILE=8192
KillMode=process
KillSignal=SIGINT
TimeoutStopSec=90
Restart=on-failure
RestartSec=10s
#StandardOutput=null
#StandardError=null
SyslogIdentifier=op-node

[Install]
WantedBy=multi-user.target
